.main-menu-container {
    -fx-background-color: #F6F6F6;
    -fx-font: 16px "Roboto", sans-serif;
}

.grid-menu-container {
    -fx-font-size: 14px;
}

.main-menu-title-background, .main-menu-title-container {
    -fx-background-image: url("../../images/backgrounds/hangers_bg.jpg");
    -fx-background-size: cover;
}

.main-menu-title {
    -fx-font: 60px 'Birds of Paradise  Personal use', sans-serif;
    -fx-fill: white;
}

.welcome-message {
    -fx-font: 16px "Roboto", sans-serif;
    -fx-text-fill: white;
}

.menu-buttons {
    /*-fx-effect: dropshadow(three-pass-box, #00000033, 10, 0, 0, 0);
    -fx-background-color: #FFFFFFFF;
    -fx-background-insets: 0;
    -fx-background-radius: 2;*/
}