.sales-table {
    -fx-tree-table-color: #7856ff55;
}

.line-sale-table .table-cell {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -fx-tree-table-color;
}

.custom-dialog {
    -fx-padding: 0;
}