.save-button {
    -fx-background-color: #2196f3;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.cancel-button {
    -fx-text-fill: #ca3e32;
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
}

.remove-button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #ca3e32;
    -fx-font-weight: bold;
}

.add-employee {
    -fx-text-fill: #ffffff;
    -fx-background-color: #2196f3;
    -fx-background-radius: 50px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.loader-container {
    -fx-background-radius: 2;
    -fx-opacity: 0;
}

.loader-background {
    -fx-background-color: #222222;
    -fx-background-radius: 2;
}

.error {
    /*-fx-font-size: 0.8em;*/
    -jfx-focus-color: #ca3e32;
}

.error .error-label {
    -fx-font-size: 0.8em;
    -fx-text-fill: #ca3e32;
}

.client-table {
    -fx-tree-table-color: #00c8ff55;
}