@font-face {
    font-family: 'Birds of Paradise  Personal use', sans-serif;
    font-weight: normal;
    src: url('../fonts/birds_of_paradise.ttf');
}

/* Roboto Font */

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-style: italic;
    src: url('../fonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/Roboto-BoldItalic.ttf');
}

/* Material dialog style */

.dialog-accept-button {
    -fx-background-color: #2196f3;
    -fx-text-fill: #FFFFFF;
}

.dialog-cancel-button {
    -fx-text-fill: #ca3e32;
    -fx-background-color: #ffffff;
}

.custom-dialog .jfx-layout-actions {
    -fx-hgap: 20px;
}

.custom-dialog .jfx-layout-body {
    -fx-alignment: center-left;
}