.info-container {
    -fx-background-color: #F6F6F6;
    -fx-font: 16px "Roboto", sans-serif;
}

.info-content {
      -fx-effect: dropshadow(three-pass-box, #00000033, 10, 0, 0, 0);
      -fx-background-color: #FFFFFFFF;
      -fx-background-insets: 12;
      -fx-background-radius: 2;
}

.user-info-title {
    -fx-font: 20px "Roboto", sans-serif bold;
}

.edit-button {
    -fx-cursor: hand;
}

.title-container, .list-container, .left-pane {
    -fx-background-color: #F6F6F6;
}

.search-input {
    -fx-font: 18px "Roboto", sans-serif;
}

.table-view {
    -fx-background-color: #F6F6F6;
    -fx-table-cell-border-color: transparent;
    -fx-font-family:"Roboto", sans-serif;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view:focused .table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.table-view .table-row {
    -fx-table-cell-border-color: transparent;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: black;
    -fx-table-cell-border-color: transparent;
}

.table-view .table-row-cell {
    -fx-background-color: #F6F6F6;
    -fx-table-cell-border-color: transparent;
}

.table-cell {
    -fx-padding: 20px;
}

.table-view .column-header ,
.table-view .column-header-background,
.table-view .column-header-background .filler{
    -fx-background-color: -fx-tree-table-color;
}

.table-view .column-header .label {
    -fx-text-fill : #222222;
    -fx-padding : 16 0 16 0 ;
}

.table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-color;
}

